
*, :after, :before {
  margin:0; padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --letterspace05: 0.5px;
  --letterspace08: 0.8px;
  --lh-jp: 1.4rem;
  --lh-eng: 1.2rem;
  --fontsize-main-jp: 16px;
  --a1: white;
  --a2: #fff9bf;
  --a3: silver;
  --a4: darkgray;
  --a5: #0fd14c;
  --a6: #000;
  --a7: #fffdef;
}



@font-face {
  font-family: Hershey-Futural-30;
  src: url(/font/Hershey-Futural-30.woff) format("woff"),url(/ysn/font/Hershey-Futural-30.ttf) format("truetype")
}

@font-face {
  font-family: Hershey-Futural--15;
  src: url(/font/Hershey-Futural--15.woff) format("woff"),url(/ysn/font/Hershey-Futural--15.ttf) format("truetype")
}


body {
  background-color:var(--a2);
} 

html, body {
  font-family: Hershey-Futural-30,sans-serif;
  -webkit-text-size-adjust: 100%;
}


.title-jp {
  color: var(--a3);
  font-size: 21px;
  /* text-align: center; */
  margin-left: 18px;
  padding-top: 10px;
  margin-bottom: 2px;
  font-family:"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  vertical-align: sub;
  
}

.title-eng {
  display: absolute;
  color: var(--a3);
  font-size: 23px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-wrap: balance;
  letter-spacing: var(--letterspace05);
  display: inline-block;
}





 /* logo ---------------------------- */

 

.logo-container {
  width: 100%;
  z-index:100;
/* height: 200vh; 画像がスクロールで回転する領域の高さ */
}

.logo-wrapper img.logo_A {
  position: fixed;
  right: 180px;
  bottom: 400px;
/* transform: translate(-50%, -50%); */
}

.logo-wrapper img.logo_B {
  position: fixed;
  right: 90px;
  bottom: 200px;
}

.logo-wrapper img.logo_C{
  position: fixed;
  right: 270px;
  bottom: 160px;
}

.logo_A {
  width: 140px; /* 画像の幅 */
  transform-origin: center;
  transition: transform 0.2s ease;
}
.logo_B {
  width: 75px; /* 画像の幅 */
  transform-origin: center;
  transition: transform 0.2s ease;
}

.logo_C {
  width: 100px; /* 画像の幅 */
  transform-origin: center;
  transition: transform 0.2s ease;
}


  @media only screen and (max-width: 720px) {
  .logo_A {
    width: 110px; /* 画像の幅 */
    transform-origin: center;
    transition: transform 0.2s ease;
  }
  .logo_B {
    width: 60px; /* 画像の幅 */
    transform-origin: center;
    transition: transform 0.2s ease;
  }
  
  .logo_C {
    width: 80px; /* 画像の幅 */
    transform-origin: center;
    transition: transform 0.2s ease;
  }

  .logo-wrapper img.logo_A {
    position: fixed;
    right: 40%;
    bottom: 40%;
  /* transform: translate(-50%, -50%); */
  }
  
  .logo-wrapper img.logo_B {
    position: fixed;
    right: 15%;
    bottom: 20%;
  }
  
  .logo-wrapper img.logo_C{
    position: fixed;
    right: 45%;
    bottom: 10%;
  }
}



@keyframes swing {
  0% { transform: rotate(-10deg); } /* スイングの開始位置 */
  100% { transform: rotate(10deg); } /* スイングの終了位置 */
  }
  }
