
*, :after, :before {
  margin:0; padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --letterspace05: 0.5px;
  --letterspace08: 0.8px;
  --lh-jp: 1.4rem;
  --lh-eng: 1.2rem;
  --fontsize-main-jp: 16px;
  --a1: white;
  --a2: #fff9bf;
  --a3: silver;
  --a4: darkgray;
  --a5: #0fd14c;
  --a6: #000;
  --a7: #fffdef;
}



@font-face {
  font-family: Hershey-Futural-30;
  src: url(/font/Hershey-Futural-30.woff) format("woff"),url(/ysn/font/Hershey-Futural-30.ttf) format("truetype")
}

@font-face {
  font-family: Hershey-Futural--15;
  src: url(/font/Hershey-Futural--15.woff) format("woff"),url(/ysn/font/Hershey-Futural--15.ttf) format("truetype")
}


body {
  background-color:var(--a2);
} 

html, body {
  font-family: Hershey-Futural-30,sans-serif;
  -webkit-text-size-adjust: 100%;
}


.title-jp {
  color: var(--a3);
  font-size: 21px;
  /* text-align: center; */
  margin-left: 18px;
  padding-top: 10px;
  margin-bottom: 2px;
  font-family:"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  vertical-align: sub;
  
}

.title-eng {
  display: absolute;
  color: var(--a3);
  font-size: 23px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-wrap: balance;
  letter-spacing: var(--letterspace05);
  display: inline-block;
}


